<ion-content>
    <ion-card>
        <mat-form-field [floatLabel]="'never'" style="margin-left: 5%; margin-right: 5%;">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

            <ng-container matColumnDef="date">
                <th mat-header-cell style="font-weight: bold" *matHeaderCellDef mat-sort-header> DATE </th>
                <td mat-cell *matCellDef="let user"> {{user.date}} </td>
            </ng-container>

            <ng-container matColumnDef="gross">
                <th mat-header-cell style="font-weight: bold" *matHeaderCellDef> GROSS </th>
                <td mat-cell *matCellDef="let user"> {{user.gross}} </td>
            </ng-container>

            <ng-container matColumnDef="net_pay">
                <th mat-header-cell style="font-weight: bold" *matHeaderCellDef> NET PAY </th>
                <td mat-cell *matCellDef="let user"> {{user.net_pay}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
    </ion-card>
</ion-content>
