<mat-dialog-content no-padding>
    <div>
        <form>
            <ion-grid>
                <ion-row>
                    <ion-col size="5">
                        Date of Application:
                    </ion-col>
                    <ion-col size="7">
                        <ion-datetime class="input" displayFormat="MMM DD, YYYY" [value]="todayDate"
                                      disabled></ion-datetime>
                    </ion-col>
                    <ion-col size="5">
                        Date of Response:
                    </ion-col>
                    <ion-col size="7">
                        <ion-input class="input" [value]="'N/A'"
                                      disabled></ion-input>
                    </ion-col>
                    <ion-col size="5">
                        Remaining Balance:
                    </ion-col>
                    <ion-col size="7">
                      <ion-input type="number" class="input" [value]="remainingBalance" disabled></ion-input>
                    </ion-col>
                    <ion-col size="5">
                        Request Amount:
                    </ion-col>
                    <ion-col size="7">
                        <ion-input type="number" [(ngModel)]="reqAmount"  [ngModelOptions]="{standalone: true}" class="input"></ion-input>
                    </ion-col>
                    <ion-col size="12">
                        Reason:
                    </ion-col>
                    <ion-col size="12">
                        <ion-textarea [(ngModel)]="reason" [ngModelOptions]="{standalone: true}" autosize class="input"
                                      style="padding: 5px;"
                                      placeholder="Write here"></ion-textarea>
                    </ion-col>
                  <ion-col size="6" text-center class="btn">
                    <ion-button (click)="btnClose()" color="danger" size="small">Cancel</ion-button>
                  </ion-col>
                  <ion-col size="6" text-center class="btn">
                    <ion-button (click)="btnSave()" color="success" size="small">Confirm</ion-button>
                  </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </div>
</mat-dialog-content>
