<ion-tabs>

  <ion-tab-bar slot="top">
    <ion-tab-button [tab]="'bulletin'">
      <ion-icon [src]="'../assets/icon/home.svg'"></ion-icon>
    </ion-tab-button>

    <ion-tab-button [tab]="'attendance'">
      <ion-icon [src]="'../assets/icon/attendance-unselected.svg'"></ion-icon>
    </ion-tab-button>

    <ion-tab-button [tab]="'payroll'">
      <ion-icon [src]="'../assets/icon/payroll-unselected.svg'"></ion-icon>
    </ion-tab-button>

    <ion-tab-button [tab]="'message'">
      <ion-icon [src]="'../assets/icon/message-unselected.svg'"></ion-icon>
    </ion-tab-button>

    <ion-tab-button [tab]="'profile'">
      <ion-icon [src]="'../assets/icon/user-profile-unselected.svg'"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
