.mat-form-field {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 90%;
  height: 40px;
  border-radius: 40px;
  border-style: solid;
  border-width: thin;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  background: #fff;
  padding-left: 10px;
  padding-right: 10px;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.7em 0 0.7em 0 !important;
  top: -0.25em;
}
