<ion-content>

    <ion-card>
        <ion-item-divider>
            <mat-form-field [floatLabel]="'never'" style="width: 100%; margin-left: 5%; margin-right: 5%;">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
        </ion-item-divider>
        <ion-card-content>
            <mat-list>
                <mat-list-item>
                    <img matListAvatar src="https://images-na.ssl-images-amazon.com/images/I/21cajMvmjVL.png" alt="profile">
                    <h3 mat-line>User name</h3>
                    <p mat-line>message</p>
                </mat-list-item>
            </mat-list>
        </ion-card-content>
    </ion-card>

</ion-content>
