ion-card {
  margin-top: 3%;
  margin-right: 3%;
  margin-left: 3%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
}

th {
  text-decoration-style: solid;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.mat-form-field {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 90%;
  height: 40px;
  border-radius: 40px;
  border-style: solid;
  border-width: thin;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  background: #fff;
  padding-left: 10px;
  padding-right: 10px;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.7em 0 0.7em 0 !important;
  top: -0.25em;
}


ion-card-content {
  margin-top: 5%;
}

.foo {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  border-radius: 3px;
}

.regularDay {
  background-color: #31c20e;
}

.regularHoliday {
  background-color: #ff8c00;
}

.specialHoliday {
  background-color: #1c93d1;
}

.noOperation {
  background-color: #ef1717;
}

.stopOperation {
  background-color: #efef17;
}

.dayShift {
  background-color: #c65911;
}

.midShift {
  background-color: #7030a0;
}

.nightShift {
  background-color: #548235;
}

.approveLeave {
  background-color: #ff8c00;
}

.restDay {
  background-color: #ef1717;
}

.status {
  color: white;
  border-radius: 25px;
  padding: 5px;
}

.approve {
  color: black;
  border-radius: 25px;
  padding: 5px;
}

.full-calendar .fc .fc-row {
  border-style: none;
}

.full-calendar .fc td.fc-today {
  border-style: none !important;
}

.full-calendar .fc-bgevent {
   /* default look for background events */
   background: #8fdf82;
   opacity: 0.3;
   border-radius: 10px;
 }
