<ion-content>
    <ion-card>
        <!--        <ion-item-divider>-->
        <ion-tabs>
            <ion-tab-bar slot="top">
                <ion-tab-button (click)="changeContent('attendance')">
                    <ion-icon [src]="'../assets/icon/fingerprint-selected.svg'"></ion-icon>
                </ion-tab-button>

                <ion-tab-button (click)="changeContent('ot')">
                    <ion-icon [src]="'../assets/icon/time-selected.svg'"></ion-icon>
                </ion-tab-button>

                <ion-tab-button (click)="changeContent('leave')">
                    <ion-icon [src]="'../assets/icon/leave-selected.svg'"></ion-icon>
                </ion-tab-button>

                <ion-tab-button (click)="changeContent('credit')">
                    <ion-icon [src]="'../assets/icon/money-selected.svg'"></ion-icon>
                </ion-tab-button>

                <ion-tab-button (click)="changeContent('calendar')">
                    <ion-icon [src]="'../assets/icon/a-calendar-selected.svg'"></ion-icon>
                </ion-tab-button>

                <ion-tab-button (click)="changeContent('shift')">
                    <ion-icon [src]="'../assets/icon/c-calendar-selected.svg'"></ion-icon>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
        <!--        </ion-item-divider>-->

        <ion-card-content no-padding>
            <div *ngIf="setView=='attendance'"
                 style="width: 100%; margin-top: 15%">
                <mat-form-field [floatLabel]="'never'" style="margin-left: 5%; margin-right: 5%;">
                    <input matInput [(ngModel)]="filter" #ctrl="ngModel"  (keyup)="applyAttendanceFilter($event.target.value)" placeholder="Search">
                    <mat-icon matPrefix>search</mat-icon>
                </mat-form-field>
                <table mat-table [dataSource]="dataAttendanceSource" class="mat-elevation-z8" matSort>

                    <ng-container matColumnDef="date">
                        <th mat-header-cell text-center style="font-weight: bold" *matHeaderCellDef mat-sort-header>
                            DATE
                        </th>
                        <td mat-cell *matCellDef="let user"> {{user.date}} </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell text-center style="font-weight: bold" *matHeaderCellDef>STATUS</th>
                        <td mat-cell *matCellDef="let user">
                            <div text-center class="status" [style.backgroundColor]="user.color">{{user.status}}</div>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedAttendanceColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedAttendanceColumns;"></tr>

                </table>
                <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
            </div>
            <div *ngIf="setView=='ot'"
                 style="width: 100%; margin-top: 15%">
                <mat-form-field [floatLabel]="'never'" style="margin-left: 5%; margin-right: 5%;">
                    <input matInput [(ngModel)]="filter" #ctrl="ngModel"  (keyup)="applyLateFilter($event.target.value)" placeholder="Search">
                    <mat-icon matPrefix>search</mat-icon>
                </mat-form-field>
                <table mat-table [dataSource]="dataLateSource" class="mat-elevation-z8" matSort>

                    <ng-container matColumnDef="date">
                        <th mat-header-cell text-center style="font-weight: bold" *matHeaderCellDef mat-sort-header>
                            DATE
                        </th>
                        <td mat-cell *matCellDef="let user"> {{user.date}} </td>
                    </ng-container>

                    <ng-container matColumnDef="approve">
                        <th mat-header-cell text-center style="font-weight: bold" *matHeaderCellDef>APPROVE</th>
                        <td mat-cell *matCellDef="let user">
                            <div text-center class="approve">{{user.approve}}</div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell text-center style="font-weight: bold" *matHeaderCellDef>STATUS</th>
                        <td mat-cell *matCellDef="let user">
                            <div text-center class="status" [style.backgroundColor]="user.color">{{user.status}}</div>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedLateColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedLateColumns;"></tr>

                </table>
                <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
            </div>
            <div *ngIf="setView=='leave'"
                 style="width: 100%; margin-top: 15%">
                <mat-form-field [floatLabel]="'never'" style="margin-left: 5%; margin-right: 5%;">
                    <input matInput [(ngModel)]="filter" #ctrl="ngModel"  (keyup)="applyLeaveFilter($event.target.value)" placeholder="Search">
                    <mat-icon matPrefix>search</mat-icon>
                </mat-form-field>
                <table mat-table [dataSource]="dataLeaveSource" class="mat-elevation-z8" matSort>

                    <ng-container matColumnDef="date">
                        <th mat-header-cell text-center style="font-weight: bold" *matHeaderCellDef mat-sort-header>
                            DATE
                        </th>
                        <td mat-cell *matCellDef="let user"> {{user.date}} </td>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <th mat-header-cell text-center style="font-weight: bold" *matHeaderCellDef>TYPE</th>
                        <td mat-cell *matCellDef="let user">
                            <div text-center class="approve">{{user.type}}</div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell text-center style="font-weight: bold" *matHeaderCellDef>STATUS</th>
                        <td mat-cell *matCellDef="let user">
                            <div text-center class="status" [style.backgroundColor]="user.color">{{user.status}}</div>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedLeaveColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedLeaveColumns;"></tr>

                </table>
                <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
            </div>
            <div *ngIf="setView=='credit'"
                 style="width: 100%; margin-top: 15%">
                <mat-form-field [floatLabel]="'never'" style="margin-left: 5%; margin-right: 5%;">
                    <input matInput [(ngModel)]="filter" #ctrl="ngModel"  (keyup)="applyCreditFilter($event.target.value)" placeholder="Search">
                    <mat-icon matPrefix>search</mat-icon>
                </mat-form-field>
                <table mat-table [dataSource]="dataCreditSource" class="mat-elevation-z8" matSort>

                    <ng-container matColumnDef="date">
                        <th mat-header-cell text-center style="font-weight: bold" *matHeaderCellDef mat-sort-header>
                            DATE
                        </th>
                        <td mat-cell *matCellDef="let user"> {{user.date}} </td>
                    </ng-container>
                    <ng-container matColumnDef="amount">
                        <th mat-header-cell text-center style="font-weight: bold" *matHeaderCellDef>AMOUNT</th>
                        <td mat-cell *matCellDef="let user">
                            <div text-center class="approve">{{user.amount}}</div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <th mat-header-cell text-center style="font-weight: bold" *matHeaderCellDef>STATUS</th>
                        <td mat-cell *matCellDef="let user">
                            <div text-center class="status" [style.backgroundColor]="user.color">{{user.status}}</div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedCreditColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedCreditColumns;"></tr>

                </table>
                <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
            </div>
            <div *ngIf="setView=='calendar'" style="width: 100%; margin-top: 15%">
                <full-calendar
                        style="margin-top: 5%;
                        margin-left: 5%;
                        margin-right: 5%;"
                        [header]="header"
                        [height]="'auto'"
                        defaultView="dayGridMonth"
                        [plugins]="calendarPlugins"
                        [weekends]="true"
                        [events]="calendarEventsOperation"
                        [fixedWeekCount]="false">
                </full-calendar>
                <div style="margin-top: 5%;">
                    <h1 style="color: #000000;"><b>Legend</b></h1>
                    <ion-list [lines]="'none'">
                        <ion-item>
                            <div class="foo regularDay"></div>
                            <p>Regular Day</p>
                        </ion-item>
                        <ion-item>
                            <div class="foo regularHoliday"></div>
                            <p>Regular Holiday</p>
                        </ion-item>
                        <ion-item>
                            <div class="foo specialHoliday"></div>
                            <p>Special Day</p>
                        </ion-item>
                        <ion-item>
                            <div class="foo noOperation"></div>
                            <p>No Operation</p>
                        </ion-item>
                        <ion-item>
                            <div class="foo stopOperation"></div>
                            <p>Stop Operation</p>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
            <div *ngIf="setView=='shift'" style="width: 100%; margin-top: 15%">
                <full-calendar
                        style="margin-top: 5%;
                        margin-left: 5%;
                        margin-right: 5%;"
                        [header]="header"
                        [height]="'auto'"
                        defaultView="dayGridMonth"
                        [plugins]="calendarPlugins"
                        [weekends]="true"
                        [events]="calendarEventsShift"
                        [fixedWeekCount]="false">
                </full-calendar>
                <div style="margin-top: 5%;">
                    <h1 style="color: #000000;"><b>Shift name</b></h1>
                    <ion-list [lines]="'none'">
                        <ion-item>
                            <div class="foo dayShift"></div>
                            <p>Day Shift</p>
                        </ion-item>
                        <ion-item>
                            <div class="foo midShift"></div>
                            <p>Mid Shift</p>
                        </ion-item>
                        <ion-item>
                            <div class="foo nightShift"></div>
                            <p>Night Shift</p>
                        </ion-item>
                        <ion-item>
                            <div class="foo approveLeave"></div>
                            <p>Approve Leave</p>
                        </ion-item>
                        <ion-item>
                            <div class="foo restDay"></div>
                            <p>Rest Day</p>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </ion-card-content>
    </ion-card>

    <ion-fab *ngIf="setView=='leave'" horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button (click)="openLeaveDialog()" color="light"><ion-icon name="add" color="primary"></ion-icon></ion-fab-button>
    </ion-fab>

    <ion-fab *ngIf="setView=='credit'" horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button (click)="openCreditDialog()" color="light"><ion-icon name="add" color="primary"></ion-icon></ion-fab-button>
    </ion-fab>
</ion-content>
