<ion-content>
    <ion-card style="padding: 5px;">
        <div *ngIf="isLoading">
            <div text-center>
                <ion-skeleton-text class="user-avatar" animated style="width: 50%"></ion-skeleton-text>
                <h3>
                    <ion-skeleton-text animated style="width: 50%; height: 20px; margin: 0 auto;"></ion-skeleton-text>
                </h3>
                <h3>
                    <ion-skeleton-text animated style="width: 30%; height: 15px; margin: 0 auto;"></ion-skeleton-text>
                </h3>
            </div>
            <div>
                <ion-item lines="none">
                    <ion-thumbnail slot="start" style="border-radius: 50%;">
                        <ion-skeleton-text></ion-skeleton-text>
                    </ion-thumbnail>
                    <ion-label>
                        <h3>
                            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                        </h3>
                        <p>
                            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                        </p>
                    </ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-thumbnail slot="start" style="border-radius: 50%;">
                        <ion-skeleton-text></ion-skeleton-text>
                    </ion-thumbnail>
                    <ion-label>
                        <h3>
                            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                        </h3>
                        <p>
                            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                        </p>
                    </ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-thumbnail slot="start" style="border-radius: 50%;">
                        <ion-skeleton-text></ion-skeleton-text>
                    </ion-thumbnail>
                    <ion-label>
                        <h3>
                            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                        </h3>
                        <p>
                            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                        </p>
                    </ion-label>
                </ion-item>
            </div>
        </div>
        <div text-center>
            <div>
                <ion-avatar class="user-avatar">
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                </ion-avatar>
                <ion-icon (click)="changeProfile()" style="margin-top: -90px; margin-left: 80px; width:30px; height: 30px;" name="camera"></ion-icon>
            </div>
            <h3 style="font-weight: bold">{{userName}}</h3>
            <p>{{userId}}</p>
        </div>
        <div>
            <ion-item lines="none" *ngFor="let userData of userData">
                <ion-avatar slot="start">
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                </ion-avatar>
                <ion-label text-wrap>{{userData.title}}</ion-label>
            </ion-item>
            <div>
                <ion-item lines="none">
                    <ion-avatar slot="start">
                        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                    </ion-avatar>
                    <ion-label text-wrap>Change Password:</ion-label>
                </ion-item>
                <form #form="ngForm">
                    <ion-grid>
                        <ion-row justify-content-center>
                            <ion-col align-self-center>
                                <div>
                                    <ion-item lines="none">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Existing Password</mat-label>
                                            <input matInput placeholder="Existing Password">
                                        </mat-form-field>
                                    </ion-item>
                                    <ion-item lines="none">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Enter Password</mat-label>
                                            <input matInput placeholder="Enter Password">
                                        </mat-form-field>
                                    </ion-item>
                                    <ion-item lines="none">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Re-enter Password</mat-label>
                                            <input matInput placeholder="Re-enter Password">
                                        </mat-form-field>
                                    </ion-item>
                                </div>
                                <div padding>
                                    <ion-grid>
                                        <ion-row justify-content-center>
                                            <ion-col>
                                                <button mat-raised-button color="warn">CANCEL</button>
                                            </ion-col>
                                            <ion-col>
                                                <button mat-raised-button color="success">SAVE</button>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </form>
            </div>
        </div>
    </ion-card>
</ion-content>
