<ion-content>
    <ion-card>
        <ion-item-divider>
            <ion-tabs>
                <ion-tab-bar slot="top">
                    <ion-tab-button (click)="changeContent('home')">
                        <ion-icon [src]="'../assets/icon/globe-selected.svg'"></ion-icon>
                    </ion-tab-button>

                    <ion-tab-button (click)="changeContent('feed')">
                        <ion-icon [src]="'../assets/icon/feed-selected.svg'"></ion-icon>
                    </ion-tab-button>

                    <ion-tab-button (click)="changeContent('badge')">
                        <ion-icon [src]="'../assets/icon/badge-selected.svg'"></ion-icon>
                    </ion-tab-button>

                    <ion-tab-button (click)="changeContent('ranking')">
                        <ion-icon [src]="'../assets/icon/top-selected.svg'"></ion-icon>
                    </ion-tab-button>
                </ion-tab-bar>
            </ion-tabs>
            <ion-grid *ngIf="setView=='feed'" style="width: 100%; margin-top: 17%;">
                <ion-row>
                    <ion-col size="2">
                        <div>
                            <ion-avatar slot="start" style="height: 100%; width: 100%">
                                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                            </ion-avatar>
                        </div>
                    </ion-col>
                    <ion-col size="8">
                        <div class="post">
                            <p>Write something...</p>
                        </div>
                    </ion-col>
                    <ion-col size="2">
                        <div>
                            <ion-avatar slot="start" style="height: 100%; width: 100%">
                                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                            </ion-avatar>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item-divider>
        <ion-card-content no-padding>
            <div *ngIf="setView=='home'">
                <mat-card *ngIf="isLoading" class="example-card" style="margin-top: 10%;">
                    <mat-card-header>
                        <div mat-card-avatar>
                            <ion-skeleton-text animated></ion-skeleton-text>
                        </div>
                        <mat-card-title style="width: 100%">
                                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content style="margin-top: 5%">
                        <p>
                            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                        </p>
                    </mat-card-content>
                    <mat-card-actions align="end">
                        <button mat-raised-button color="primary" disabled style="border-radius: 40px;">Like</button>
                    </mat-card-actions>
                </mat-card>

                <div style="margin-top: 10%;" *ngFor="let homes of homesData">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar [style.backgroundImage]="'url('+ homes.profile_pic +')'"
                                 style="background-size: cover"></div>
                            <mat-card-title>{{homes.name}}</mat-card-title>
                            <mat-card-subtitle>{{homes.date_post}} {{homes.time}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>{{homes.post}}</p>
                        </mat-card-content>
                        <mat-card-actions align="end">
                            <button mat-raised-button color="primary" style="border-radius: 40px;">Like</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
            <div *ngIf="setView=='feed'">

                <mat-card *ngIf="isLoading" class="example-card" style="margin-top: 10%;">
                    <mat-card-header>
                        <div mat-card-avatar>
                            <ion-skeleton-text animated></ion-skeleton-text>
                        </div>
                        <mat-card-title style="width: 100%">
                            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content style="margin-top: 5%">
                        <p>
                            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                        </p>
                    </mat-card-content>
                    <mat-card-actions align="end">
                        <button mat-raised-button color="primary" disabled style="border-radius: 40px;">Like</button>
                    </mat-card-actions>
                </mat-card>

                <div style="margin-top: 10%; height:100%;">
                    <div style="margin-top: 10%;" *ngFor="let homes of homesData">
                        <mat-card class="example-card">
                            <mat-card-header>
                                <div mat-card-avatar [style.backgroundImage]="'url('+ homes.profile_pic +')'"
                                     style="background-size: cover"></div>
                                <mat-card-title>{{homes.name}}</mat-card-title>
                                <mat-card-subtitle>{{homes.date_post}} {{homes.time}}</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <p>{{homes.post}}</p>
                            </mat-card-content>
                            <mat-card-actions align="end">
                                <button mat-raised-button color="primary" style="border-radius: 40px;">Like</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>
            <div *ngIf="setView=='badge'">
                <div style="overflow: auto" scrollX="true">
                    <mat-tab-group
                            mat-stretch-tabs
                            #tabRef
                            [selectedIndex]="selectedIndex"
                            (swipeleft)="swipe(tabRef.selectedIndex, $event.type)"
                            (swiperight)="swipe(tabRef.selectedIndex, $event.type)">

                        <mat-tab *ngFor="let rank of rankingData"
                                 label="{{rank.month}}">

                            <div style="background-color: white;"
                                 (swipeleft)="swipe(tabRef.selectedIndex -1, $event.type)"
                                 (swiperight)="swipe(tabRef.selectedIndex + 1, $event.type)">
                                <ion-item-divider>
                                    <ion-grid>
                                        <ion-row style="color: #1e2023">
                                            <ion-col>
                                                <ion-list>
                                                    <div class="ion-text-center">
                                                        <p>Most Valuable</p>
                                                        <ion-thumbnail class="badge-icon">
                                                            <ion-img [src]="'../assets/icon/badge.svg'"></ion-img>
                                                        </ion-thumbnail>
                                                        <div class="badge-circle-count"
                                                             style="margin-top: 5px; margin-bottom: 5px;">
                                                            {{rank.most_valuable}}
                                                        </div>
                                                        <ion-thumbnail class="badge-icon">
                                                            <ion-img [src]="'../assets/icon/badge.svg'"></ion-img>
                                                        </ion-thumbnail>
                                                    </div>
                                                </ion-list>
                                            </ion-col>

                                            <ion-col>
                                                <ion-list>
                                                    <div class="ion-text-center">
                                                        <p>Most Improved</p>
                                                        <ion-thumbnail class="badge-icon">
                                                            <ion-img [src]="'../assets/icon/badge.svg'"></ion-img>
                                                        </ion-thumbnail>
                                                        <div class="badge-circle-count"
                                                             style="margin-top: 5px; margin-bottom: 5px;">
                                                            {{rank.most_improvement}}
                                                        </div>
                                                        <ion-thumbnail class="badge-icon">
                                                            <ion-img [src]="'../assets/icon/badge.svg'"></ion-img>
                                                        </ion-thumbnail>
                                                    </div>
                                                </ion-list>
                                            </ion-col>

                                            <ion-col>
                                                <ion-list>
                                                    <div class="ion-text-center">
                                                        <p>Hard Working</p>
                                                        <ion-thumbnail class="badge-icon">
                                                            <ion-img [src]="'../assets/icon/badge.svg'"></ion-img>
                                                        </ion-thumbnail>
                                                        <div class="badge-circle-count"
                                                             style="margin-top: 5px; margin-bottom: 5px;">
                                                            {{rank.hard_working}}
                                                        </div>
                                                        <ion-thumbnail class="badge-icon">
                                                            <ion-img [src]="'../assets/icon/badge.svg'"></ion-img>
                                                        </ion-thumbnail>
                                                    </div>
                                                </ion-list>
                                            </ion-col>

                                            <ion-col>
                                                <ion-list>
                                                    <div class="ion-text-center">
                                                        <p>Early Bird</p>
                                                        <ion-thumbnail class="badge-icon">
                                                            <ion-img [src]="'../assets/icon/badge.svg'"></ion-img>
                                                        </ion-thumbnail>
                                                        <div class="badge-circle-count"
                                                             style="margin-top: 5px; margin-bottom: 5px;">
                                                            {{rank.early_bird}}
                                                        </div>
                                                        <ion-thumbnail class="badge-icon">
                                                            <ion-img [src]="'../assets/icon/badge.svg'"></ion-img>
                                                        </ion-thumbnail>
                                                    </div>
                                                </ion-list>
                                            </ion-col>

                                            <ion-col>
                                                <ion-list>
                                                    <div class="ion-text-center">
                                                        <p>Most Friendly</p>
                                                        <ion-thumbnail class="badge-icon">
                                                            <ion-img [src]="'../assets/icon/badge.svg'"></ion-img>
                                                        </ion-thumbnail>
                                                        <div class="badge-circle-count"
                                                             style="margin-top: 5px; margin-bottom: 5px;">
                                                            {{rank.most_friendly}}
                                                        </div>
                                                        <ion-thumbnail class="badge-icon">
                                                            <ion-img [src]="'../assets/icon/badge.svg'"></ion-img>
                                                        </ion-thumbnail>
                                                    </div>
                                                </ion-list>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </ion-item-divider>

                                <mat-form-field [floatLabel]="'never'"
                                                style="width: 90%; margin-left: 5%; margin-right: 5%;">
                                    <input matInput (keyup)="applyFilter($event.target.value, tabRef.selectedIndex)"
                                           placeholder="Search">
                                    <mat-icon matPrefix>search</mat-icon>
                                </mat-form-field>
                                <mat-list>
                                    <mat-list-item *ngFor="let topEmployee of rank.top_employees">
                                        <img matListAvatar src="{{topEmployee.avatar}}" alt="profile">
                                        <h3 mat-line>{{topEmployee.name}}</h3>
                                    </mat-list-item>
                                </mat-list>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
            <div *ngIf="setView=='ranking'">
                <div style="overflow: auto" scrollX="true">
                    <mat-tab-group
                            mat-stretch-tabs
                            #tabRef
                            [selectedIndex]="selectedIndex"
                            (swipeleft)="swipe(tabRef.selectedIndex, $event.type)"
                            (swiperight)="swipe(tabRef.selectedIndex, $event.type)">

                        <mat-tab *ngFor="let rank of rankingData"
                                 label="{{rank.month}}">

                            <div style="background-color: white;"
                                 (swipeleft)="swipe(tabRef.selectedIndex -1, $event.type)"
                                 (swiperight)="swipe(tabRef.selectedIndex + 1, $event.type)">
                                <ion-item-divider>
                                    <ion-grid>
                                        <ion-row style="color: #1e2023">
                                            <ion-col>
                                                <ion-list>
                                                    <div class="ion-text-center">
                                                        <p>Most Valuable</p>
                                                        <ion-thumbnail class="badge-icon">
                                                            <ion-img [src]="'../assets/icon/badge.svg'"></ion-img>
                                                        </ion-thumbnail>
                                                        <div class="badge-circle-count"
                                                             style="margin-top: 5px; margin-bottom: 5px;">
                                                            {{rank.most_valuable}}
                                                        </div>
                                                        <ion-thumbnail class="badge-icon">
                                                            <ion-img [src]="'../assets/icon/badge.svg'"></ion-img>
                                                        </ion-thumbnail>
                                                    </div>
                                                </ion-list>
                                            </ion-col>

                                            <ion-col>
                                                <ion-list>
                                                    <div class="ion-text-center">
                                                        <p>Most Improved</p>
                                                        <ion-thumbnail class="badge-icon">
                                                            <ion-img [src]="'../assets/icon/badge.svg'"></ion-img>
                                                        </ion-thumbnail>
                                                        <div class="badge-circle-count"
                                                             style="margin-top: 5px; margin-bottom: 5px;">
                                                            {{rank.most_improvement}}
                                                        </div>
                                                        <ion-thumbnail class="badge-icon">
                                                            <ion-img [src]="'../assets/icon/badge.svg'"></ion-img>
                                                        </ion-thumbnail>
                                                    </div>
                                                </ion-list>
                                            </ion-col>

                                            <ion-col>
                                                <ion-list>
                                                    <div class="ion-text-center">
                                                        <p>Hard Working</p>
                                                        <ion-thumbnail class="badge-icon">
                                                            <ion-img [src]="'../assets/icon/badge.svg'"></ion-img>
                                                        </ion-thumbnail>
                                                        <div class="badge-circle-count"
                                                             style="margin-top: 5px; margin-bottom: 5px;">
                                                            {{rank.hard_working}}
                                                        </div>
                                                        <ion-thumbnail class="badge-icon">
                                                            <ion-img [src]="'../assets/icon/badge.svg'"></ion-img>
                                                        </ion-thumbnail>
                                                    </div>
                                                </ion-list>
                                            </ion-col>

                                            <ion-col>
                                                <ion-list>
                                                    <div class="ion-text-center">
                                                        <p>Early Bird</p>
                                                        <ion-thumbnail class="badge-icon">
                                                            <ion-img [src]="'../assets/icon/badge.svg'"></ion-img>
                                                        </ion-thumbnail>
                                                        <div class="badge-circle-count"
                                                             style="margin-top: 5px; margin-bottom: 5px;">
                                                            {{rank.early_bird}}
                                                        </div>
                                                        <ion-thumbnail class="badge-icon">
                                                            <ion-img [src]="'../assets/icon/badge.svg'"></ion-img>
                                                        </ion-thumbnail>
                                                    </div>
                                                </ion-list>
                                            </ion-col>

                                            <ion-col>
                                                <ion-list>
                                                    <div class="ion-text-center">
                                                        <p>Most Friendly</p>
                                                        <ion-thumbnail class="badge-icon">
                                                            <ion-img [src]="'../assets/icon/badge.svg'"></ion-img>
                                                        </ion-thumbnail>
                                                        <div class="badge-circle-count"
                                                             style="margin-top: 5px; margin-bottom: 5px;">
                                                            {{rank.most_friendly}}
                                                        </div>
                                                        <ion-thumbnail class="badge-icon">
                                                            <ion-img [src]="'../assets/icon/badge.svg'"></ion-img>
                                                        </ion-thumbnail>
                                                    </div>
                                                </ion-list>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </ion-item-divider>

                                <mat-form-field [floatLabel]="'never'"
                                                style="width: 90%; margin-left: 5%; margin-right: 5%;">
                                    <input matInput (keyup)="applyFilter($event.target.value, tabRef.selectedIndex)"
                                           placeholder="Search">
                                    <mat-icon matPrefix>search</mat-icon>
                                </mat-form-field>
                                <mat-list>
                                    <mat-list-item *ngFor="let topEmployee of rank.top_employees">
                                        <img matListAvatar src="{{topEmployee.avatar}}" alt="profile">
                                        <h3 mat-line>{{topEmployee.name}}</h3>
                                    </mat-list-item>
                                </mat-list>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>
