ion-card {
  margin-top: 3%;
  margin-right: 3%;
  margin-left: 3%;
}
ion-item-divider {
  padding: 5px;
}

.example-card {
  max-width: 100%;
  margin: 10px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

::ng-deep .mat-tab-header-pagination {
  display: none !important;
}

.mat-form-field {
  margin-top: 3%;
  height: 40px;
  border-radius: 40px;
  border-style: solid;
  border-width: thin;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  background: #fff;
  padding-left: 10px;
  padding-right: 10px;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.7em 0 0.7em 0 !important;
  top: -0.25em;
}

.badge-circle-count {
  height: auto;
  width: 25px;
  background-color: #7e57ff;
  border-radius: 50%;
  display: block;
  color: white;
  margin: auto;
}

.badge-icon {
  width: auto;
  margin: auto;
  display: block;
}

.mat-tab-group {
  background-color: #c7c7c7;
}

.post {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  border-style: solid;
  border-width: thin;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  background: #fff;
  padding-left: 10px;
  padding-right: 10px;
}

mat-tab {
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

mat-list-item {
  overflow: auto;

  ::-webkit-scrollbar {
    display: none;
  }
}

.loading-shade {
  margin-top: 10%;
  margin-bottom: 10%;
  height: 30px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
