.full-width {
  width: 100%;
}
.borderDialog {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 15px;
}
.input {
  height: auto;
  border-radius: 30px;
  border-style: solid;
  border-width: thin;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  background: #fff;
}
.mat-option {
  padding: 0 !important;
}

.btn {
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  padding: 10px;
}
