<mat-dialog-content no-padding>
    <div>
        <form>
            <ion-grid>
                <ion-row>
                    <ion-col size="5">
                        Date of Application:
                    </ion-col>
                    <ion-col size="7">
                        <ion-datetime class="input" displayFormat="MMM DD, YYYY" [value]="todayDate"
                                      disabled></ion-datetime>
                    </ion-col>
                    <ion-col size="5">
                        Date(s) of Leave:
                    </ion-col>
                    <ion-col size="7">
                        <div class="input" style="height: 40px; width: 100%;"
                             *ngFor="let control of myForm.controls | keyvalue">
                            <input (dateChange)="getDate($event)" [min]="todayDate" style="padding: 5px; height: 40px; width: 70%;" matInput [matDatepicker]="i"
                                   placeholder="Choose a date" [attr.id]="control + i"
                                   [formControl]="control.key" disabled>
                            <mat-datepicker-toggle matSuffix [for]="i" style='width: 1em'></mat-datepicker-toggle>
                            <mat-datepicker #i disabled="false"></mat-datepicker>
                        </div>
                        <p text-right style="color: #0cd1e8;" (click)="addDate()">+ Add Date</p>
                    </ion-col>
                    <ion-col size="5" style="margin-top: 5px;">
                        Type:
                    </ion-col>
                    <ion-col size="7">
                        <mat-form-field class="input" style="height: 40px; width: 100%; padding-bottom: 5px;">
                            <mat-select (selectionChange)="selectType($event.value)">
                                <mat-option *ngFor="let type of types" [value]="type.value">
                                    {{type.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </ion-col>
                    <ion-col size="5">
                        Available Credit(s):
                    </ion-col>
                    <ion-col size="7">
                        <ion-input class="input" required type="text" [value]="credits" disabled></ion-input>
                    </ion-col>
                    <ion-col size="12">
                        Reason:
                    </ion-col>
                    <ion-col size="12">
                        <ion-textarea [(ngModel)]="reason" [ngModelOptions]="{standalone: true}" autosize class="input" style="padding: 5px;"
                                      placeholder="Write here"></ion-textarea>
                    </ion-col>
                    <!--                    <div *ngIf="leaveFrom=='table'">-->
                    <!--                        <ion-col size="5">-->
                    <!--                            Status:-->
                    <!--                        </ion-col>-->
                    <!--                        <ion-col size="7">-->
                    <!--                            <div>Status</div>-->
                    <!--                        </ion-col>-->
                    <!--                        <ion-col size="12">-->
                    <!--                            Remarks:-->
                    <!--                        </ion-col>-->
                    <!--                        <ion-col size="12">-->
                    <!--                            <ion-textarea autosize class="input" style="padding: 5px;" disabled></ion-textarea>-->
                    <!--                        </ion-col>-->
                    <!--                    </div>-->
                    <ion-col size="6" text-center class="btn">
                        <ion-button (click)="btnClose()" color="danger" size="small">Cancel</ion-button>
                    </ion-col>
                    <ion-col size="6" text-center class="btn">
                        <ion-button (click)="btnSave()" color="success" size="small">Confirm</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </div>
</mat-dialog-content>
